$headerHeight: 235px; //ex: 20px or false
$headerSideOffset: $headerHeight - 40px; //ex: 20px or false

// New Promo
$promos: (
//     (
//	 	image: "../img/SB-AD-Bortles.png",
//	 	target: "SB_AD_Bortles",
//	 	height: 300px,
//	 	position: true
//     ),
);

// Sidebar Variables
$sidebarImage: "../img/SB-week-1.jpg";
$sidebarHeader: "Full Steed Ahead";
$sidebarText: "After a hard-fought opening game loss, the Stallions look to rebound this week against the tough Birmingham Iron.";
$sidebarPicHeight: 389px;
$sidebarPicOffset: 0;

// Links in sidebar
$sidebarLinksHeight: 34px;
$sidebarLinksCount: 6;
